body{
    background-color: white;
    
    
}



.right{
    font-size: medium;
    
}

header{
    background: rgb(226, 254, 254);
    
}



    

   
  
    
.navbar{
border-bottom: 1px solid black; 
background: rgb(226, 254, 254); }
 
.paragraphe{
    background: rgb(226, 254, 254); ;
   
   
    }



    
    
  

.about{
    color: rgb(113, 91, 226);
}
    




#containe1{
   background-color:  rgb(226, 254, 254) ;
   height: 20rem; 

}
.a{
    color: rgb(113, 91, 226);
    
    font-size: medium;
    width: 80%;
}
.img-fluid1{
    background-color:rgb(66, 66, 252);
    width: 25%;
    border-radius: 10px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
   
}


.project{
    text-align: center;
}
#container2{
    text-align: center;
    background: rgb(226, 254, 254); 
}

.droite{
    text-align: right;
    position: -ms-page;

   
}


.livea{
    
    width: 280px;
    border-radius: 10px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
}

.liveb{
    
    width: 280px;
    border-radius: 10px;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;}



.view{
    
    color: rgb(113, 91, 226);
}



#container3{
    background: rgb(226, 254, 254);
    height: 200px;

}

.aby{
    text-align: center;
    color: rgb(113, 91, 226);
}
.ndiaye{
    color: rgb(113, 91, 226);
}

.mt-{
    width: 80%;
}










/* responsive */

@media screen and (max-width: 560px) {
    #containe1{
        background-color:  rgb(226, 254, 254) ;
        height: 35rem; 
     
     }

     .img-fluid1{
        background-color:rgb(66, 66, 252);
        width: 68%;
        border-radius: 10px;
        box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
       
    }
}

@media only screen and (max-width: 768px) {

    #containe1{
        background-color:  rgb(226, 254, 254) ;
        height: 35rem; 
     
    }

    .img-fluid1{
        background-color:rgb(66, 66, 252);
        width: 68%;
        border-radius: 10px;
        box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
    }
  }